/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --select-text-bg-color: #B5D6FC;
    --select-text-font-color: auto;
    --monospace: "Lucida Console", Consolas, "Courier", monospace;
}

html {
    overflow-x: initial !important;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0px;
    padding: 0px;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    font-size: 1rem;
    line-height: 1.875;
    overflow-x: hidden;
    background-image: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
    background-clip: inherit;
    background-color: inherit;
    tab-size: 4;
    background-position: inherit inherit;
    background-repeat: inherit inherit;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
    resize: vertical;
}

/* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */

/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden {
    display: none !important;
}

/*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
  * Hide visually and from screen readers, but maintain layout
  */

.invisible {
    visibility: hidden;
}

/*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

a {
    color: #111;
    text-decoration: none;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

a:hover,
a:active {
    color: #555;
    -moz-text-decoration-color: rgba(0, 0, 0, 0.6);
    text-decoration-color: rgba(0, 0, 0, 0.6);
}

.container {
    width: 768px;
    padding: 0 16px;
    margin: 0 auto;
}

#header {
    padding: 24px 0;
    border-bottom: 1px solid #f9f9f9;
    text-align: left;
    line-height: 40px;
}

.header-image img {
    width: 100%;
}

.site-name {
    float: left;
}

.site-name img {
    height: 40px;
}


#nav-menu {
    float: right;
}

#nav-menu a {
    padding: 0 16px;
    display: inline-block;
}

.post img {
    margin: auto;
    display: block;
}

.post-title {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.post h1 {
    font-size: 1.8em;
}

.post-meta {
    padding: 0;
    margin: 8px 0 0;
    color: #999;
    text-align: left;
    display: inline-block;
    font-size: 12px;
}

.post-meta ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-meta li {
    float: left;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    position: relative;
    padding: .3em 0;
}

.post-meta li a {
    margin-left: 24px;
    padding: 0 8px;
    background: #111;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
}

.post-content,
.post-summary {
    padding: 24px 0;
}

.page-navigator {
    border-top: 1px solid #f9f9f9;
    list-style: none;
    padding: 25px 0 0;
    font-size: 16px;
}

.page-navigator li {
    display: inline-block;
    margin: 0 5px 5px 0;
}

.page-navigator a {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 5px 10px;
    border: 1px solid #DDD;
    border-radius: 10px;
}

.page-navigator a:hover {
    background: #F8F8F8;
    border-color: #111;
}

.page-navigator .current a {
    background: #F8F8F8;
    border-color: #111;
}

#footer,
#footer a {
    margin: 24px 0;
    color: #999;
    font-size: 13px;
}


/* 

    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px

    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px

    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
 */

@media (min-width: 768px) and (max-width: 1280px) {
    .container {
        width: auto;
    }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px

    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (max-width: 767px) {
    .container {
        padding: 0 20px;
        width: auto;
    }
}